requests
python-dotenv>=1.0.0
functions-framework
beautifulsoup4
pandas
google-cloud-bigquery==3.25.0
google-cloud-bigquery-storage>=2.25.0
pyarrow
dbt-bigquery==1.7.2
sqlfluff==4.1.0
sqlfluff-templater-dbt==4.1.0
PyYAML>=6.0